
<h2>Result</h2>

<p><%=@message%> <strong><%=@word%></strong> : score : <%= @score%></p>
Your score of all your games : <%= @session_score %>

<div>
  <%= link_to "Play again!", new_path %>
</div>


<div>
  <%= link_to "Start a new session!", new_session_path  %>
</div>



<% console %>
